@import "ui-variables";

.tree-view {
  padding-top: 8px;
  font-size: @font-size;
  font-family: @font-family-headlines;
  background: @tree-view-background-color;

  .selected:before {
    background: @app-background-color;
  }
}

.tree-view-resizer {
  .tree-view-resize-handle {
    width: 8px;
  }
}

.focusable-panel {
  opacity: 1;

  &:focus {
    background: @tree-view-background-color;

    .selected:before {
      background: @app-background-color;
    }
  }
}

[data-show-on-right-side=true] {
  .tree-view .selected:before,
  .focusable-panel {
  }
}
