// Colors

@text-color: #B9BCBB;
@text-color-subtle: #515253;
@text-color-highlight: #7DA1B8;
@text-color-selected: #2E96F9;

@text-color-info: #5293d8;
@text-color-success: #2BDA77;
@text-color-warning: #ff982d;
@text-color-error: #c00;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;

@background-color-info: #0098ff;
@background-color-success: #17ca65;
@background-color-warning: #ffaa2c;
@background-color-error: #c00;
@background-color-highlight: rgba(255, 255, 255, 0.07);
@background-color-selected: #222C31;

@app-background-color: #222C31;

@base-background-color: #222C31;
@base-border-color: #222C31;

@pane-item-background-color: @base-background-color;
@pane-item-border-color: none;

@input-background-color: #181F23;
@input-border-color: #181F23;

@tool-panel-background-color: #181F23;
@tool-panel-border-color: none;

@inset-panel-background-color: #222C31;
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: #181F23;
@panel-heading-border-color: none;

@overlay-background-color: #181F23;
@overlay-border-color: none;

@button-background-color: #43484d;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: #5c6064;
@button-border-color: none;

@tab-bar-background-color: #181F23;
@tab-bar-border-color: #181F23;
@tab-background-color: #181F23;
@tab-background-color-active: #222C31;
@tab-border-color: lighten(@tab-background-color-active, 2%);

@tree-view-background-color: #181F23;
@tree-view-border-color: none;

@scrollbar-background-color: #181F23; // Needs to be opaque -> atom/atom/issues/4578
@scrollbar-color: #181F23;

@ui-site-color-1: @background-color-success; // green
@ui-site-color-2: @background-color-info; // blue
@ui-site-color-3: @background-color-warning; // orange
@ui-site-color-4: #db2ff4; // purple
@ui-site-color-5: #f5e11d; // yellow


// Sizes

@font-size: 12px;
@input-font-size: 14px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 20px;
@component-border-radius: 2px;

@tab-height: 25px;


// Other

@font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
