// Colors

@text-color: #D6DAD8;
@text-color-subtle: #7E7F80;
@text-color-highlight: #EEE;
@text-color-selected: #EEE;
@text-color-tab-selected: #2E96F9;

@text-color-info: #5775B4;
@text-color-success: #ABDC61;
@text-color-warning: #FFDC65;
@text-color-error: #DD4E5A;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;

@background-color-info: #5775B4;
@background-color-success: #ABDC61;
@background-color-warning: #FFDC65;
@background-color-error: #DD4E5A;
@background-color-highlight: rgba(46, 150, 249, .1);
@background-color-selected: rgba(46, 150, 249, .1);

@app-background-color: #222C31;

@base-background-color: #222C31;
@base-border-color: #222C31;

@pane-item-background-color: #222c31;
@pane-item-border-color: none;

@input-background-color: #181F23;
@input-border-color: #181F23;

@tool-panel-background-color: #222C31;
@tool-panel-border-color: none;

@inset-panel-background-color: #222C31;
@inset-panel-border-color: #222c31;

@panel-heading-background-color: #181F23;
@panel-heading-border-color: none;

@overlay-background-color: #181F23;
@overlay-border-color: none;

@button-background-color: #222C31;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: #181F23;
@button-border-color: transparent;

@tab-bar-background-color: #222C31;
@tab-bar-border-color: transparent;
@tab-background-color: #181F23;
@tab-background-color-active: #222C31;
@tab-border-color: transparent;

@tree-view-background-color: #222c31;
@tree-view-border-color: none;

@scrollbar-background-color: #181F23; // Needs to be opaque -> atom/atom/issues/4578
@scrollbar-color: #181F23;

@ui-site-color-1: #ABDC61; // green
@ui-site-color-2: #5775B4; // blue
@ui-site-color-3: #FF954D; // orange
@ui-site-color-4: #C478FF; // purple
@ui-site-color-5: #FFDC65; // yellow


// Sizes

@font-size: 12px;
@input-font-size: 14px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 20px;
@component-border-radius: 2px;

@tab-height: 30px;


// Other

@font-family: '.SFNSText-Medium', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
